# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.RPScore.iml
# Datasource local storage ignored files
/../../../../../../../../:\okurz\Documents\Github\RPScore\.idea\.idea.RPScore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
